* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    background-color: #FB6B6B;

}




button:active {
    transform: scale(0.90);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}

