.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

.header img {
    width: 52px;
    height: 60px;
}

.header p {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}

.deck {
    margin: 0 auto 172px auto;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive', sans-serif;
    margin: 10px auto;
    height: auto;
    overflow-y: hidden;
}

.cards img:hover,
button:hover,
ion-icon:hover,
.choice:hover {
    cursor: pointer;
}

.open {
    max-height: 200px;
}

.close {
    max-height: 65px;
}

.choice,
.answered {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answered {
    flex-direction: row;
}

.choice p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;

    margin-left: 15px;
}



.choice ion-icon {
    width: 20px;
    height: 23px;
    margin-right: 15px;
    color: #333333;
}

.question,
.answer {
    width: 299px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    position: relative;

}

.question p,
.answer p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 18px 15px;
}

.question img {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.answer span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.botao {
    width: 85px;
    height: 45px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}


.botao p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

.botao .erro {
    background-color: #FF3030;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao .duvida {
    background-color: #FF922E;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao .acerto {
    background-color: #2FBE34;
    display: flex;
    justify-content: center;
    align-items: center;

}


.answered .acerto,
.answered .erro,
.answered .duvida {
    margin: 0 15px;
}

.answered .acerto p {
    color: #2FBE34;
    text-decoration: line-through;
}

.answered .erro p {
    color: #FF3030;
    text-decoration: line-through;
}

.answered .duvida p {
    color: #FF922E;
    text-decoration: line-through;
}

.acerto,
.erro,
.duvida {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.acerto ion-icon {
    color: #2FBE34;
}

.erro ion-icon {
    color: #FF3030;
}

.duvida ion-icon {
    color: #FF922E;
}